*{border:1px solid black; margin:0 auto; text-align:center; 
  list-style: none; text-decoration: none; border-collapse: collapse; justify-content: space-between; 
  border: none;} 
 
  body{margin:20px 40px ;}
  
  .head{width:100%; height:80px; display:flex; flex-direction: row; margin-bottom:10px; position:sticky; top: 0; background-color: rgb(213, 205, 255); padding-top:10px; z-index:1;}
  .head{background-image:url("image/구름.jpg");}
  
  .siteName{margin-left:10px;  line-height: 55px;}
  .siteName a{display:flex; float:left;}
  .siteName p{padding:10px;font-family: 'Jua', sans-serif; font-size:30px;}
  .siteName .cherry{width:70px;} 
  
  .searchbar{padding-top:10px; margin-left:200px;  line-height: 50px;margin: 0;width: 50%;}
  .searchbar a{margin: 0px; margin: 5%;}

  .nav{margin-top: 10px;width: 30%;}
  .nav li{width: 60px; height: 60px;border-radius: 30px; text-decoration: none;}
  .nav li:hover{background-color: #C8C8FF;}
  
  .hidden{display: none;margin: 2%; width: 5%;}
  .hidden li{border-radius: 30px; text-decoration: none;width: 60px; height: 60px;}
  .hidden li:hover{background-color: #C8C8FF;}
  
  
  .main{display:flex; justify-content: space-around; flex-direction:row }
  .main .contents{width:800px; height: 500px; margin:20px; background-image:url(./image/달력.png); width: 70%; height: 996px;}
  .main .sidebar{width:100px ;display:flex; flex-direction: column;margin:20px; }
  .main .sidebar a{margin:10px;}
  
  .hidden a{cursor: pointer;}
  .hidden .hide{display: none;}
  .nav{display: flex; justify-content: flex-end; width: calc(800px); line-height: 70px; }
  
  
  .nav .li{margin-left: 10px; display: flex; }
  
  
  .main .sidebar{width: 200px; height: 280px; border-color: chocolate; border-width: 5px;  border-style: double; line-height: 70px;}
  .main .sidebar ul{padding: 0;}
  .top{    padding-top: 20px;}
  .top .story{display: flex; width: 500px; height: 50px; border-color: chocolate; border-width: 5px;  border-style: double; line-height: 50px;}
  
  @media(max-width:1024px){
  .nav{display: none;}
  .hidden{display: block;}
    div.searchbar{width: 70%;}
  }
  html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .clearfix:after {
    content: '';
    display: block;
    clear: both;
    float: none;
  }
  
  /* ======== Calendar ======== */
  .my-calendar {
    width: 700px;
    margin: 30px;
    padding: 20px 20px 10px;
    text-align: center;
    font-weight: 800;
    border: 1px solid #ddd;
    cursor: default;
  }
  .my-calendar .clicked-date {
    border-radius: 25px;
    margin-top: 36px;
    float: left;
    width: 42%;
    padding: 46px 0 26px;
    background: #ddd;
  }
  .my-calendar .calendar-box {
    float: right;
    width: 58%;
    padding-left: 30px;
  }
  
  .clicked-date .cal-day {
    font-size: 24px;
  }
  .clicked-date .cal-date {
    font-size: 130px;
  }
  
  .ctr-box {
    padding: 0 16px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .ctr-box .btn-cal {
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
  }
  .ctr-box .btn-cal:after {
    content: '<';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 25px;
    font-weight: bold;
    font-size: 20px;
  }
  .ctr-box .btn-cal.next {
    float: right;
  }
  .ctr-box .btn-cal.next:after {
    content: '>';
  }
  
  .cal-table {
    width: 100%;
  }
  .cal-table th {
    width: 14.2857%;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 900;
  }
  .cal-table td {
    padding: 3px 0;
    height: 50px;
    font-size: 15px;
    vertical-align: middle;
  }
  .cal-table td.day {
    position: relative;
    cursor: pointer;
  }
  .cal-table td.today {
    background: #ffd255;
    border-radius: 50%;
    color: #fff;
  }
  .cal-table td.day-active {
    background: #ff8585;
    border-radius: 50%;
    color: #fff;
  }
  .cal-table td.has-event:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #FFC107;
  }
 