
*{border:1px solid black; margin:0 auto; text-align:center; 
list-style: none; text-decoration: none; border-collapse: collapse; justify-content: space-between; 
border: none;} 

body{margin:20px 40px ;}

.head{width:100%; height:80px; display:flex; flex-direction: row; margin-bottom:10px; position:sticky; top: 20px; background-color: rgb(213, 205, 255);}
.head{background-image:url("image/구름.jpg");}

.siteName{margin-left:10px;  line-height: 55px;}
.siteName a{display:flex; float:left;}
.siteName p{padding:10px;font-family: 'Jua', sans-serif; font-size:30px;}
.siteName .cherry{width:70px;} 

.searchbar{padding-top:10px; margin-left:200px;  line-height: 50px;}


.main{display:flex; justify-content: space-around; flex-direction:row }
.main .contents{width:800px; height: 500px; margin:20px; background-image:url(./image/달력.png); width: 70%; height: 996px;}
.main .sidebar{width:100px ;display:flex; flex-direction: column;margin:20px; }
.main .sidebar a{margin:10px;}



.nav{display: flex; justify-content: flex-end; width: calc(800px); line-height: 70px; }


.nav .li{margin-left: 10px; display: flex; }


.main .sidebar{width: 200px; height: 450px; border-color: chocolate; border-width: 5px;  border-style: double; line-height: 70px;}

.top .story{display: flex; width: 500px; height: 50px; border-color: chocolate; border-width: 5px;  border-style: double; line-height: 50px;}


